@model ShangYi.Models.DocumentModel

@{
    ViewData["Title"] = "Edit";
}

<h2>编辑</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>文件分享</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label asp-for="Attachment" class="col-md-2 control-label">附件</label>
            <div class="col-md-10">
                <input id="AttachmentFile" name="AttachmentFile" type="file" />
                <span asp-validation-for="Attachment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label">内容</label>
            <div class="col-md-10">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Index" class="col-md-2 control-label">索引</label>
            <div class="col-md-10">
                <input asp-for="Index" class="form-control" />
                <span asp-validation-for="Index" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label">标题</label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UID" class="col-md-2 control-label">用户ID</label>
            <div class="col-md-10">
                <input asp-for="UID" class="form-control" />
                <span asp-validation-for="UID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Uploader" class="col-md-2 control-label">上传者</label>
            <div class="col-md-10">
                <input asp-for="Uploader" class="form-control" />
                <span asp-validation-for="Uploader" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="确认" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
