@model ShangYi.Models.CategoryModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>CategoryModel</h4>
        <hr />
        <div class="text-danger">@ViewData["Error"]</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CID" class="form-control" />
                <span asp-validation-for="CID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentID" class="form-control" />
                <span asp-validation-for="ParentID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Thumbnail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input name="ThumbnailFile" type="file" />
                <span asp-validation-for="Thumbnail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="isLeaf" />
                    <label asp-for="isLeaf"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
